/* Body */
body {
    background-color: rgb(38, 38, 38);
    color: white;
}

/* Formula bar */

#formula-bar {
    background-color: rgb(55, 55, 55);
    color: white;
    border-color: rgb(170, 170, 170);
}

/* Grid */

#grid {
    background: rgb(194, 194, 194);
    border: 1px solid rgb(194, 194, 194);
}

#grid td {
    border: 1px solid  rgb(99, 97, 98);
    background: rgb(38, 38, 38);
}

#grid td.empty {
    border: 0px solid;
    border-radius: 1px;
}

#grid td.identifier {
    color: LightCoral;
}

#grid td.heading {
    background-color: rgb(91, 155, 213);
    color: white;
    font-weight: bold;
}

#grid td.selected {
    background-color: rgb(88, 90, 89) !important;
}

#grid td.append {
    background-color: rgb(134, 83, 83);
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
}

#grid td.add_key {
    /* idea: stronger, but dashed, border? */
    background-color: rgb(134, 83, 83);
    /* background-color: rgb(255, 204, 153); */
    /* color: rgb(255, 181, 70); */
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
}

#grid td.add_col {
    /* idea: stronger, but dashed, border? */
    background-color: rgb(134, 83, 83);
    /* background-color: rgb(255, 204, 153); */
    /* color: rgb(255, 181, 70); */
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
}

/* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/typeof */
#grid td.string {
    text-align: left;
}

#grid td.number {
    text-align: right;
}

#grid td.boolean {
    text-align: center;
}

#grid td.true {
    background-color: rgb(200, 255, 166);
}

#grid td.false {
    background-color: rgb(255, 198, 198);
}

#grid td.error {
    background-color: red;
}

#grid td.null {
    text-align: center;
}

#grid td.undefined {
    text-align: center;
}

#grid td.read-only {
    color: white;
}

#grid td.function {
    font-style: italic;
}

#grid td.editable {
    color: #599eff;
}

#grid td.key {
    /* background-color: #FFE4B5; */
}

/* Status bar */

#status-bar {
    background-color: DarkSlateBlue;
    color: white;
    font-family: Calibri;
    text-transform: uppercase;
}

#status-bar a {
    color: white;
}
