/* Body */
body {
    background-color: rgb(38, 38, 38);
    color: white;
}

/* Formula bar */

#formula-bar {
    background-color: rgb(55, 55, 55);
    color: white;
    border-color: rgb(170, 170, 170);
}

/* Grid */

#grid {
    border: 1px solid rgb(170, 170, 170);
}

#grid td {
    border: 1px solid rgb(78, 78, 78);
}

#grid td.empty {
    border: 1px dotted rgb(58, 58, 58);
}

#grid td.identifier {
    color: LightCoral;
}

#grid td.heading {
    background-color: rgb(78, 121, 158);
    border: 1px solid rgb(78, 121, 158);
    color: white;
    font-weight: bold;
}

#grid td.selected {
    background-color: rgb(168, 135, 43) !important;
    border: 1px solid rgb(168, 135, 43) !important;
    color: white !important;
}

#grid td.append {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    color: rgb(138, 138, 138);
}

#grid td.add_key {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    color: rgb(138, 138, 138);
}

#grid td.add_col {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    color: rgb(138, 138, 138);
}

/* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/typeof */
#grid td.string {
    text-align: left;
}

#grid td.number {
    text-align: right;
}

#grid td.boolean {
    text-align: center;
}

#grid td.true {
    background-color: rgb(103, 139, 81);
    border: 1px solid rgb(103, 139, 81)
}

#grid td.false {
    background-color: rgb(134, 83, 83);
    border: 1px solid rgb(134, 83, 83);
}

#grid td.error {
    background-color: red;
}

#grid td.null {
    text-align: center;
}

#grid td.undefined {
    text-align: center;
}

#grid td.read-only {
    color: white;
}

#grid td.function {
    font-style: italic;
}

#grid td.editable {
    color: #599eff;
}

#grid td.key {
    /* background-color: #FFE4B5; */
}

/* Status bar */

#status-bar {
    background-color: DarkSlateBlue;
    color: white;
    font-family: Calibri;
    text-transform: uppercase;
}

#status-bar a {
    color: white;
}
